extends layout

block content
    #root
        img.img-fluid.rounded.mx-auto.d-block(src="/images/page_icons/StartUp.jpg", alt="Loading Image")

    script
        | window.initialCat = !{JSON.stringify(initialCat || "")};
        | window.initialData = !{JSON.stringify(initialData || [])};
        | window.initialView = !{JSON.stringify(type)};
        //- | window.classifiedCats = !{JSON.stringify(cls_cats)};
        | window.commercialCats = !{JSON.stringify(com_cats)};
        | window.sliderAds = !{JSON.stringify(slider_ads)};
        | window.rightSideAds = !{JSON.stringify(aside_right)};
        | window.leftSideAds = !{JSON.stringify(aside_left)};
        | window.topAd = !{JSON.stringify(top_ad)};